.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:375px;
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
}

.pictureContainer{
    width:375px;
    height:375px;
    background-image:url('images/pattern-bg.svg');
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
}

.profilePicture{
    width:280px;
    height:auto;
    box-shadow: 0px 15px 10px -15px #111;
}

.arrowContainer{
    display:flex;
    gap:0px;
    border-radius:30px 30px 30px 30px;
    position:relative;
    bottom:70px;
    box-shadow: 0px 15px 10px -15px #111;
}

.arrowContainer button{
    width:40px;
    height:40px;
    border:none;
    background-color:white;
}

.arrowContainer button:focus{
    outline:none;
}

.prev{
    border-radius:30px 0px 0px 30px;
}

.next{
    border-radius:0px 30px 30px 0px;
}

.descriptionContainer{
    width:375px;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-image:url('images/pattern-quotes.svg'), url('images/pattern-curve.svg');
    background-repeat:no-repeat;
    background-position:top center, bottom left;
    background-size: 20%, 120%;
}

.descriptionContainer .quote{
    width:280px;
    text-align:center;
    color:hsl(240, 38%, 20%);
    font-weight:500;
}

.profile{
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
    bottom:15px;
}

.name{
    color:hsl(240, 38%, 20%);
    font-weight:700;
}

.position{
    color:hsl(240, 18%, 77%);
    font-weight:500;
    position:relative;
    bottom:33px;
}